.main__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  height: 100svh;
  max-height: 100vh;
  max-height: 100svh;
  background-color: color(mainDark);

  .container {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}