:root {
  --tunnel-card-padding: #{rem(16)};
  --layout-padding: #{rem(15)};
}

$col-pink: pink;
$font-Raleway: 'Raleway', sans-serif;
$font-DMSans: 'DM Sans', sans-serif;
$font-JetBrainsMono: 'JetBrains Mono', monospace;