@import "./commonInclude";
@import "./appMainLayout";
@import "./navBar";
@import "./popup";
@import "./button";
@import "./home";
@import "./tunnelBlock";
@import "./speedMeter";
@import "./record";
@import "./toggleSwitch";
@import "./setting";

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
}
